/*font reference*/
@font-face {
  font-family: blanca;
  src: url(beyond_the_mountains.otf);
}

/*header elements*/
.use-16px-font-size{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #9d9d9d;
}
.push-to-right{
  margin-left: 575px;
}
.align-center-text{
  text-align: center;
}

.space-in-words{
  margin-top: 47px;
  word-spacing: 30px;
}
.flex {
  display: flex;
}



.header-social-profiles {
  padding: 0;
  margin: 0;
  list-style: none;
}



.header-social-profiles li {
display: flex;;
justify-content: center;
align-items: center;


  height: 41px;
  width: 41px;

  margin: 0 10px;
  background: #ddd;
  text-transform: uppercase;
}




.blanca{
  text-align: center;
  font-family: blanca;
  font-size: 150px;
}

.menu-items {
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}


.menu-items li {

    margin: 10px 10px;
    padding: 10px;
    background: #ddd;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-items li a {
  /* display: block;
  background: red;
  padding: 10px; */
}


.slider{

}

.slider img {
  max-width: 100%;
}
.about-writer li{
  text-decoration: none;
  margin-right: 13px;
}
.snow-image{
  width: 100%;
}
.subs{
  font-size:36px;
  font-family: blanca;
}
.font-to-12px{
  text-transform: uppercase;
  font-size: 12px;
}
.adjust-position{
  position: absolute;
}
